/* General */

html {
  font-family: 'Raleway', sans-serif;
  background-color: yellow;
  font-size: 10px;
}

body {
  min-width: 100vh;
  margin: 0 auto;
  background-position: center;
}

/* Typography */

h1, h2 {
  font-family: 'Cherry Swash', cursive;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
  background-size: 48px 48px;
}

h2 {
  font-size: 2rem;
  color: yellow;
  text-align: right;
  width: 160px;
  position: absolute;
  right: 4%;
  z-index: 3000;
  text-shadow: 2px 2px 1px black;
  line-height: 2rem;
  padding-top: 0.3rem;
}

.relative{
  position: relative;
  display:table-cell;
  
  text-align:center;
  min-height: 100vh;
  min-width: 80vh;

}


img.Qz {
  
    position: absolute;
    width: 500px;
    height: auto;
    border: 0px solid gray;
    margin:auto;
    top:150px;
    
}


p, label, input, select, button, li {
  font-size: 1.5rem;
}

li {
  line-height: 1.5;
}

/* block styling */

header, aside, main, footer {
  padding: 20px;
}

header {
  border: 5px solid black;
  border-bottom: 0;
}

aside {
  border-right: 5px solid black;
}

body > div {
  border: 5px solid black;
  display: flex;
}

footer {
  border: 5px solid black;
  border-top: 0;
}


button.pass{
  background: black;
  color: yellow;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  padding: 5px 0;
  border: none;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
  min-height: 100px;
  min-width: 160px;
  max-height: 100px;
  max-width: 160px;
}

button.first {
  z-index: 30;
  background: black;
  color: yellow;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
  min-height: 100vh;
  min-width: 160vh;
}
button{
  z-index: 20;
  background: black;
  color: yellow;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
  
  min-height: 100px;
  min-width: 160px;
  max-height: 100px;
  max-width: 160px;
  
}
