/* General */

html {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  background-color: yellow;
}

body {
  min-width: 100vh;
  margin: 0 auto;
  background-position: center;
}

h1, h2 ,h3{
  font-family: 'Cherry Swash', cursive;
  margin: 0;
  text-align: center;
}

/* Typography */

h1 {
  font-size: 5rem;
  background-size: 48px 48px;
}

h2 {
  font-size: 2rem;
  color: black;
  text-align: right;
  width: 160px;
  position: absolute;
  right: 4%;
  z-index: 3000;
  line-height: 2rem;
  padding-top: 0.3rem;
}

h3 {
  font-size: 3rem;
  font-family: 'Cherry Swash', cursive;
  color: yellow;
  text-align: right;
  position: absolute;
  right: 4%;
  top: 0px;
  z-index: 3000;
  line-height: 3rem;
  padding-top: 0.3rem;
}


.relative {
  position: relative;
  display: table-cell;
  text-align: center;
  min-height: 100vh;
  min-width: 80vh;
}

img.Qz {
  position: relative;
  width: 500px;
  height: auto;
  border: 0px solid gray;
  margin: auto;
  top: 150px;
  left: 500px;
}

div.inputter {
  position: fixed;
  background-color: yellow;
  z-index: 40;
  width: 300px;
  height: 600vh;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
}

div.miss{
  position: fixed;
  right: 100px;
  top: 0px;
}


/* Form styling */

aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  
}

aside div {
  margin-bottom: 20px;
}

label, select, input {
  display: block;
}

label {
  margin-bottom: 5px;
}

select, input, button {
  width: 97%;
  height: 25px;
}

/* Button styling */

button {
  background: black;
  color: yellow;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
  cursor: pointer;
}

button.pass {
  position: fixed;
  font-size: 30px;
  font-family: 'Cherry Swash', cursive;
  z-index: 50;
  min-height: 150px;
  min-width: 250px;
  max-height: 150px;
  max-width: 250px;
  left: 25px;
  bottom: 200px;
}
button.pass2 {
  position: fixed;
  font-size: 30px;
  font-family: 'Cherry Swash', cursive;
  z-index: 50;
  min-height: 150px;
  min-width: 250px;
  max-height: 150px;
  max-width: 250px;
  left: 25px;
  bottom:25px;
}
button.pass3{
  position: fixed;
  font-size: 30px;
  font-family: 'Cherry Swash', cursive;
  z-index: 50;
  min-height: 60px;
  min-width: 300px;
  max-height: 60px;
  max-width: 300px;
  left: 0px;
  bottom: 400px;
}

button.first {
  position: absolute;
  font-size: 100px;
  z-index: 30;
  height: 100vh;
  width: 170vh;
}

button.game {
  position: absolute;
  z-index: 20;
  font-family: 'Cherry Swash', cursive;
  font-size: 20px;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
  height: 100px;
  width: 150px;
}

/* Styling the products */

main {
  display: flex;
  width: 130vh;
  flex-flow: row wrap;
  justify-content: space-around;
}

section {
  left: 300px;
  width: 300px;
  margin: 5px;
  background-color: black;
  position: relative;
  height: 400px;
  z-index: 10;
  
}

section img {
  width: 200px;
  height: 300px;
  
  position:absolute;
  bottom: 50px;
  left: 50px;
}

section p {
  color: yellow;
  background: black;
  z-index: 10;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 1px yellow;
  position: absolute;
  right: 10px;
  bottom: -6px;
  z-index: 2000;
}
